# Introduction Python

## 1.0 Introduction

In [1]:
print("Hello World")

Hello World

In [2]:
X = 5
Y = 5.5 
Z = "Hi"
P = True

In [3]:
print("type of X: ", type(X))

type of X:  <class 'int'>

In [4]:
print("type of Y: ", type(Y))

type of Y:  <class 'float'>

In [5]:
print("type of Z: ", type(Z))

type of Z:  <class 'str'>

In [6]:
print("type of P: ", type(P))

type of P:  <class 'bool'>

## 2.0 String methods

### Editing Big and Short Latter

In [32]:
message = "    I think therefore, I am"

In [33]:
message.upper()

'    I THINK THEREFORE, I AM'

In [34]:
message.lower()

'    i think therefore, i am'

In [35]:
message.title()

'    I Think Therefore, I Am'

In [36]:
message.capitalize()

'    i think therefore, i am'

### Adjustnig spaces

In [37]:
message.strip()

'I think therefore, I am'

In [38]:
message.lstrip()

'I think therefore, I am'

In [39]:
message.rstrip()

'    I think therefore, I am'

### Clustring

In [40]:
message.split()

['I', 'think', 'therefore,', 'I', 'am']

### Join

In [41]:
" ......  ".join(message)

'  ......    ......    ......    ......  I ......    ......  t ......  h ......  i ......  n ......  k ......    ......  t ......  h ......  e ......  r ......  e ......  f ......  o ......  r ......  e ......  , ......    ......  I ......    ......  a ......  m'

### Search Words

In [43]:
message.find("python")

-1

### Change Charachters

In [50]:
message.replace(",", "____")

'    I think therefore____ I am'

In [52]:
message.center(500, "*")

'********************************************************************************************************************************************************************************************************************************************    I think therefore, I am*********************************************************************************************************************************************************************************************************************************************'

## 3.0 List Methods

In [71]:
fruits = ["Apple", "Cherry", "Bananas", "Orange", "Lemon"]

In [72]:
print(len(fruits))

5

In [73]:
print(fruits[2])

Bananas

In [137]:
fruits[-1] = "Mushrooms"

In [79]:
print(fruits)

['Apple', 'Cherry', 'Bananas', 'Orange', 'Mushrooms']

In [80]:
print("Banana" in fruits)

False

In [82]:
print(fruits[0: 3])

['Apple', 'Cherry', 'Bananas']

In [83]:
del fruits[-1]

In [84]:
fruits

['Apple', 'Cherry', 'Bananas', 'Orange']

In [88]:
numbers = [4, 1, 2, 3, 0, 9, 6, 7, 4, 9]
letters = ["k", "c", "b", "d", "e", "f", "g", "a"]

In [89]:
print(max(numbers))
print(min(letters))

9
a

In [90]:
numbers.insert(1, 4545)

In [91]:
numbers

[4, 4545, 1, 2, 3, 0, 9, 6, 7, 4, 9]

In [92]:
numbers.pop()

9

In [93]:
numbers

[4, 4545, 1, 2, 3, 0, 9, 6, 7, 4]

In [94]:
numbers.remove(4545)

In [95]:
numbers

[4, 1, 2, 3, 0, 9, 6, 7, 4]

In [96]:
numbers.sort()

In [97]:
numbers

[0, 1, 2, 3, 4, 4, 6, 7, 9]

In [104]:
letters.reverse()

In [105]:
letters

['k', 'c', 'b', 'd', 'e', 'f', 'g', 'a']

## 4.0 Tuple Methods

In [106]:
names = ["Merkel", "Erdoğan", "Putin", "Macron", "Trump"]
thing = "Carpet", "Mirror", "FirePlace", False

In [108]:
print(type(names))
print(type(thing))

<class 'list'>
<class 'tuple'>

In [109]:
print(names[0:2])
print(thing[1: 3])

['Merkel', 'Erdoğan']
('Mirror', 'FirePlace')

## 5.0 Dictonary Methods

In [123]:
person = {
    "person 1": {
        "Person Id": 456820397,
        "First Name": "Ali",
        "Second Name": "Can",
        "Country": "Turkey",
        "Comination": {
            "Phone Number": 5901384870,
            "E-mail": False
        }
    },
    "person 2": {
        "Person Id": 986822490,
        "First Name": "Cem",
        "Second Name": "Eğilmez",
        "Country": "Turkey",
        "Comination": {
            "Phone Number": False,
            "E-mail": "cem_eğilmez123@gmail.com"
        }
    }
}

In [124]:
person

{'person 1': {'Person Id': 456820397,
  'First Name': 'Ali',
  'Second Name': 'Can',
  'Country': 'Turkey',
  'Comination': {'Phone Number': 5901384870, 'E-mail': False}},
 'person 2': {'Person Id': 986822490,
  'First Name': 'Cem',
  'Second Name': 'Eğilmez',
  'Country': 'Turkey',
  'Comination': {'Phone Number': False, 'E-mail': 'cem_eğilmez123@gmail.com'}}}

In [125]:
person["person 1"]

{'Person Id': 456820397,
 'First Name': 'Ali',
 'Second Name': 'Can',
 'Country': 'Turkey',
 'Comination': {'Phone Number': 5901384870, 'E-mail': False}}

In [126]:
person["person 1"]["Comination"]

{'Phone Number': 5901384870, 'E-mail': False}

In [131]:
person["person 1"]["Comination"]["E-mail"]

False

In [136]:
person["person 1"]["Second Name"][2]

'n'

## 6.0 Sets Methods

In [138]:
fruits = {"orange", "apple", "banana"}

In [139]:
print(fruits)
print(fruits[0])   # indexlenemez, sıralanamaz.

{'banana', 'apple', 'orange'}

TypeError: 'set' object is not subscriptable

In [140]:
fruits.add("cheery")
print(fruits)

{'banana', 'apple', 'orange', 'cheery'}

In [141]:
fruits.update(["mango", "grape"])
print(fruits)

{'banana', 'orange', 'cheery', 'grape', 'apple', 'mango'}

In [142]:
fruits.remove("mango")
print(fruits)

{'banana', 'orange', 'cheery', 'grape', 'apple'}